{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h1>Sell Shares</h1>
    <form action="/sell" method="post">
        <div class="mb-3">
            <select autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol">
                <option value="">Select a Stock</option>
                {% for stock in stocks %}
                    <option value="{{ stock.symbol }}">{{stock.symbol}} = {{stock.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Number of Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit" value="Sell">Sell</button>
    </form>
{% endblock %}
