.header {
    background-color: SlateBlue;
    color: #fff;
    margin-bottom: 3rem;
    padding: 4rem 2rem;
    text-align: center;
}

.img{
    margin: 3rem;
    max-width: 500px;

}

p{
    text-align: left;
}

ul{
    text-align: left;
}
}
