.header {
    background-color: SlateBlue;
    color: #fff;
    margin-bottom: 3rem;
    padding: 4rem 2rem;
    text-align: center;
}

.img{
    margin: 3rem;
    max-width: 500px;

}

body {
    background-color: #fff;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 3rem;
    text-align: center;
}
