{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1>History</h1>

    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
                <th>Timw</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.name }}</td>
                    <td>{{ transaction.total_shares }}</td>
                    <td>{{ transaction.price }}</td>
                    <td>{{ transaction.value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
