{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h1>Get a Quote</h1>
    <form action="{{(url_for('quote'))}}" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Symbol" type="text">
        </div>
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
    {% if quote %}
    <table style="text-align:center;">
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>{{quote['name']}}</td>
            <td>{{quote['symbol']}}</td>
            <td>{{quote['price']}}</td>
        </tr>
    </table>
    {% endif %}
{% endblock %}
