.container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;

}

.header {
    background-color: SlateBlue;
    color: #fff;
    padding: 4rem 2rem;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

.img{
    margin: 1rem;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;

}

div p{
    text-align: left;
    font-family: "Courier New", Courier, monospace;
}

ul{
    text-align: left;
}

h2{
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    
}
h6{
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    text-align: left;
}

ul{
    font-family: "Courier New", Courier, monospace;
}

.button{
    background-color: #e7bf2b;
    color: SlateBlue;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    cursor: pointer;
}
.button:hover{
    background-color: #ffea66;
    color: SlateBlue;
}

#email{
    text-align: center;
    font-family: "Courier New", Courier, monospace;


}
footer{
    margin: 15px;
}

hr{
    border: 0;
    height: 1px;
    background-color: black;


}

